$primary: #3c8dbc;
$white: #ffffff;
$black-perl: #1a2226;
$bali-hai: #323333;
$heather: #b8c7ce;
$alice-blue: #f0f3f5;
$wedgewood: #507487;
$cadeea: #cadeea;

$black: #000000;
$Eclipse: #3c3c3c;
$dark-blue: #1482c2;
$cinder: #222d32;
$blue-magenta: #8b8198;
$black-merlin: #3c3c3d;
