.main {
  background-color: $Eclipse;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.login_container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom:-54px;

}

.paper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.login-button,
.login-button:hover {
  height: 48px;
  background-color: $primary;
  color: $white;
}

.forgot-password {
  flex-direction: column-reverse;
  align-items: center;
}
.login-title {
  margin-top: 5%;
  color: $black-merlin;
}
.signin_icon {
  color: $primary;
  transform: scale(1.8);
}
